<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting label="30001" type="text" id="username" default=""/>
        <setting label="30002" type="text" id="auth-token" default=""/>
        <setting label="30003" type="text" id="api-token" default=""/>
        <setting label="30004" type="text" id="root-folder" default=""/>
        <setting label="30014" type="text" id="language" default="en"/>
        <setting label="30016" type="file" id="tmdb-key-file" default=""/>
        <setting label="30018" type="text" id="tmdb-api-key" default=""/>
    </category>
</settings>
